// 给项目提供全局变量
$base-color: rgb(96, 149, 203);
// 左侧菜单的宽度和颜色
$base-menu-width: 260px;
$base-menu-background: #051e30;
$base-menu-min-width: 50px;
// 顶部导航的高度
$base-tabbar-height: 100px;

// 左侧菜单logo高度
$base-munu-log-height: 50px